:host {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  z-index: 1000;
}

.container {
  max-width: 1280px;
  margin: 0 auto;

  padding: 1.5rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: transparent;
}

.nav-links {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.nav-links a {
  color: var(--color-text);
  text-decoration: none;
  transition: color .3s;
}

.nav-links a:hover {
  color: var(--color-primary);
}